certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssmin==0.2.0
dataclasses==0.8
fastapi==0.63.0
Flask==1.1.2
Flask-Assets==2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsmin==2.2.2
MarkupSafe==1.1.1
pydantic==1.8.1
requests==2.25.1
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.26.4
webassets==2.0
Werkzeug==1.0.1
