  <!-- Footer -->
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer-copyright">
                &copy; <script>document.write(new Date().getFullYear());</script> 
                Meme search
                <br>
                <p>
                    Created by <a href="https://linkedin.com/in/hmartelb" target="_blank">Héctor Martel 何可拓</a> · Web Information Retrieval at <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a>.
                </p>
                <!-- <div class="social-links">    
                    <a href="https://github.com/hmartelb" target="_blank"><i class="fa fa-github"></i></a>   
                    <a href="https://linkedin.com/in/hmartelb" target="_blank">Héctor Martel 何可拓<i class="fab fa-linkedin-square"></i></a>   
                </div> -->
            </div>
        </div>
    </div>
</footer>