{% for res in results %}
    <li idx="{{ res.idx }}" class="list-group-item link-class" style="text-align: left; color: black;">
        <div class="row">
            <div class="col-sm-6">
                <a href="{{ url_for('meme_details', idx=res.idx) }}" onMouseOver="this.style.color='#64ca87'" onMouseOut="this.style.color='black'" style="color: black;">
                    <img src="{{ res.url }}" height="40" width="40" style="margin-right: 20px;" />{{ res.name | truncate(40) }}
                </a>
            </div>
            <div class="col-sm-6 text-right">
                <a class="btn btn-info" href="{{ url_for('search', query=res.name, mode='both') }}" role="button">Similar text</a>
                <a class="btn btn-primary" href="{{ url_for('search', query=res.idx, mode='image') }}" role="button">Similar images</a>
            </div>
        </div>
    </li>
{% endfor %}