{% macro pagination(current_page, total_pages, count) -%}

<nav class="" aria-label="pagination">
    <ul class="pagination bg-success justify-content-center">

        {% if current_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('templates', page=current_page-1, count=count) }}">Previous</a>
            </li>
        {% endif %}

        {% for i in range(1,3) %}
            {% if current_page == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('templates', page=i, count=count) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if current_page >= 3 %}
            <li class="page-item"><a class="page-link" href="#">...</a></li>
        {% endif %}

        {% for i in range(current_page-2, current_page+3) %}
            {% if i > 2 and i < total_pages-3 %}
                {% if current_page == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('templates', page=i, count=count) }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if current_page < total_pages-3 %}
            <li class="page-item"><a class="page-link" href="#">...</a></li>
        {% endif %}
        {% for i in range(total_pages-3, total_pages) %}
            {% if current_page == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('templates', page=i, count=count) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if current_page < total_pages-1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('templates', page=current_page+1, count=count) }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

{%- endmacro %}