<div class="container">

    <div class="row">
        <div class="col-sm-12 text wow fadeInUp">

            <form class="form" method="GET" action="{{ url_for('search') }}">
                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px;">
                        <a href="{{ url_for('index') }}">
                            <img src="{{ url_for('static', filename='img/doge.png') }}"
                                style="max-width: 40px; text-align: right;">
                        </a>
                    </div>
                    <div class="col-xs-8" style="padding-left: 0px; padding-right: 0px;">
                        {% if mode in ['image', 'url', 'template'] %}
                        <input id="search-input" type="text" class="form-control input-lg" name="query"
                            required="required" placeholder="Type or paste link here" id="query">
                        {% else %}
                        <input id="search-input" type="text" class="form-control input-lg" name="query"
                            required="required" placeholder="Type or paste link here" id="query" value="{{ query }}">
                        {% endif %}
                        <ul class="list-group" style="max-height: 50vh; overflow: auto;" id="input-suggestions"></ul>

                        <!-- Template input suggestion -->
                        <!-- <li id="input-suggestion-template" class="list-group-item list-group-item-action" style="text-align: left; color: black; display: flex;">
                            <img src="{{ url_for('static', filename='img/doge.png') }}" height="40" width="40" style="margin-right: 20px;" />
                            Some example text goes here
                        </li> -->
                        
                    </div>
                    <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px;">
                        <input id="search-submit" type="submit" class="btn btn-lg btn-block btn-success" value="GO!">
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>