{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

{% include 'components/search_bar.html' %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 features section-description wow fadeIn">
			<h2>{{ meme.name }}</h2>
			<div class="divider-1 wow fadeInUp"><span></span></div>
		</div>
	</div>
	<div class="row" style="padding-bottom: 60px;">
		<img src="{{ meme.url }}">
		<h4>Source: {{ meme.website }}</h4>
		<a href="{{ meme.url }}" target="_blank">
			<p>{{ meme.url }}</p>
		</a>

		<div class="col-sm-12 features section-description wow fadeIn">
			<h2>Similar images</h2>
			<div class="divider-1 wow fadeInUp"><span></span></div>
		</div>
		
		{% from 'components/result_box.html' import result_box with context %}

		{% for meme in similar_memes %}
			{% if meme.score > 0 %}
				<div class="col-sm-3 features-box wow fadeInUp">
					{{ result_box(meme) }}
				</div>
			{% endif %}
		{% endfor %}
	
	</div>
</div>


{% endblock %}