{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 text wow fadeInUp">
			<form class="form" method="GET" action="{{ url_for('search') }}">
				<div class="row" style="margin-left: 0px; margin-right: 0px;">
					<div class="col-xs-2" style="padding-left: 0px; padding-right: 0px;">
						<a href="{{ url_for('index') }}">
							<img src="{{ url_for('static', filename='img/doge.png') }}"
								style="max-width: 40px; text-align: right;">
						</a>
					</div>
					<div class="col-xs-8" style="padding-left: 0px; padding-right: 0px;">
						<input type="text" class="form-control input-lg" name="query" required="required"
							placeholder="Type or paste link here" id="query">
					</div>
					<div class="col-xs-2" style="padding-left: 0px; padding-right: 0px;">
						<input type="submit" class="btn btn-lg btn-block btn-success" value="GO!">
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

{% from 'components/pagination.html' import pagination with context %}
{% from 'components/template_box.html' import template_box with context %}

<div class="features-container section-container">
	<div class="container">
		<h2 class="wow fadeInUp" style="padding-top: 25px;">Templates</h2>
		
		{{ pagination(current_page, total_pages, count) }}

		<div class="row">
			{% for res in results %}
			<div class="col-sm-3 features-box wow fadeInUp">
				{{ template_box(res) }}
			</div>
			{% endfor %}
		</div>

		{{ pagination(current_page, total_pages, count) }}

	</div>
</div>


{% endblock %}